/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #141414;
  color: white;
}

/* Navbar styles */
.navbar {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  transform: top 0.3s easy;
}

.nav-logo {
  font: normal normal 300 24px/48px "Oswald", sans-serif;
  color: white;
  text-decoration: none;
  padding-left: 30%;
}

.nav-menu {
  display: flex;
  gap: 30px;
  padding: 8px 16px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font: normal normal 400 18px/24px "Roboto", sans-serif;
  transition: none;
  padding: 8px 16px;
}

.nav-link:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 20px;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding-right: 5%;
}

.nav-toggle-icon {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Jumbotron styles */
.jumbotron {
  background-image: url("/assets/images/AboutJumbotronImg.png");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 200px 50px;
  text-align: left;
  position: relative;
}

.jumbotron-content {
  max-width: 800px;
  position: relative;
  top: 90px;
}

.jumbotron h1 {
  font: normal normal 300 30px/60px Oswald;
  margin-bottom: 10px;
  font-weight: bold;
}

.jumbotron h2 {
  font: normal normal 300 90px/60px Oswald;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 20px;
}

.jumbotron p {
  font: normal normal 300 20px/15px Helvetica;
  padding-top: 1%;
}

/* Content section styles */

.black-section p:nth-of-type(1) strong {
  font: oblique normal bold 16px/35px Helvetica;
}

.black-section p:nth-of-type(1) span {
  font: normal normal 300 16px/35px Helvetica;
}

.black-section p:nth-of-type(2) {
  font: normal normal 300 16px/35px Helvetica;
}

.black-section p:nth-of-type(3) {
  font: normal normal 300 16px/35px Helvetica;
}

.content {
  padding: 20px 5px;
  background-image: url("/assets/images/About\ Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.black-section {
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.black-section p {
  font: normal normal 300 18px/24px "Helvetica", sans-serif;
  margin-bottom: 10px;
}

/* Fun Facts section styles */

.fun-facts {
  text-align: left;
  font: normal normal 300 45px/60px Oswald;
  margin-bottom: 20px;
  padding-top: 3%;
  padding-left: 2%;
  position: relative;
  display: inline-block;
}

.fun-facts::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid white;
  margin-top: 5px;
}

.fun-facts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.fun-fact {
  text-align: center;
  flex-basis: calc(25% - 20px);
  padding: 20px;
  padding-top: 3%;
}

.fun-fact img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.fun-fact p {
  font: normal normal 300 16px/25px Helvetica;
  padding-top: 5%;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #141414;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  z-index: 999;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
}

/* Mobile Menu Links */
.mobile-nav-link {
  color: white;
  text-decoration: none;
  font: normal normal 400 18px/24px "Roboto", sans-serif;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  text-align: center;
}

/* Responsive adjustments */
@media (min-width: 1450px) {
  .jumbotron {
    background-image: url("/assets/images/AboutJumbotronImg.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 300px 50px;
    text-align: left;
  }
  .content {
    padding: 2% 5% 5% 5%;
  }
  .jumbotron {
    padding-left: 7%;
  }
  .nav-logo {
    margin-left: 100%;
  }
}
@media (max-width: 1250px) {
  .nav-menu {
    display: none;
  }

  .nav-toggle {
    display: flex;
  }

  .mobile-menu.active {
    display: flex;
  }

  .jumbotron {
    background-image: url("/assets/images/AboutJumbotronImg.png");
    padding: 190px 20px;
    text-align: left;
  }

  .jumbotron-content {
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
    padding-top: 0%;
  }

  .jumbotron h1 {
    font: normal normal 300 30px/60px Oswald;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .jumbotron h2 {
    font: normal normal 300 80px/60px Oswald;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .jumbotron p {
    font: normal normal 300 15px/15px Helvetica;
  }

  .black-section p {
    font-size: 16px;
  }

  .fun-facts {
    font-size: 24px;
    text-align: center;
  }

  .fun-fact {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .jumbotron-content {
    padding-left: 10px;
  }

  .fun-fact {
    flex-basis: 100%;
  }
  .fun-fact img {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
  }
  .fun-fact p {
    text-align: center;
    font-size: 14px;
  }
}

/* Styles for the skills section */
.skills-section {
  padding: 50px 20px;
  background-color: #f8f8f8;
  text-align: center;
  color: #333;
}

.section-title {
  font: normal normal 300 32px/48px "Oswald", sans-serif;
  margin-bottom: 30px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.skill {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.skill-icon {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.skill p {
  font: normal normal 400 18px/24px "Roboto", sans-serif;
  margin-top: 10px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .skills-container {
    grid-template-columns: 1fr;
  }
}
