/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  /* background-image: url(/assets/images/Work-Background-Image.png); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/Work-Background-Image.png"); /* Adjust path as needed */

  background-color: black;
  color: white;
  padding: 20px;
  background-size: cover; /* Ensure the background image covers the entire body */
  background-size: cover; /* Ensure the background image covers the entire body */
  background-position: center; /* Center the background image */
}

/* Navbar styles */
.navbar {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav-logo {
  font: normal normal 300 24px/48px "Oswald", sans-serif;
  color: white;
  text-decoration: none;
  padding-left: 30%;
}

.nav-menu {
  display: flex;
  gap: 30px;
  padding: 8px 16px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font: normal normal 400 18px/24px "Roboto", sans-serif;
  transition: none;
  padding: 8px 16px;
}

.nav-link:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  margin-right: 20px;
  padding: 8px 16px;
  border-radius: 20px;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.nav-toggle-icon {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.mobile-menu.active {
  display: flex;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #141414;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  z-index: 999;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
}

/* Mobile Menu Links */
.mobile-nav-link {
  color: white;
  text-decoration: none;
  font: normal normal 400 18px/24px "Roboto", sans-serif;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 10%;
}
h1 {
  font: normal normal 200 40px / 60px Oswald;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 10px;
  display: inline-block; /* Ensures the underline is only under the text */
}

.section-header p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  white-space: normal;
  text-align: left;
  padding-top: 1%;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  background-color: black;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: calc(50% - 20px);
  height: 300px;
  transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
  background-color: #333;
  transform: scale(1.05);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  overflow-y: auto;
}

.card:hover .card-content {
  display: block;
}

.card-content h2 {
  font: normal normal bold 24px/36px "Oswald", sans-serif;
  margin-bottom: 10px;
}

.card-content ul {
  list-style-type: none;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-bottom: 20px; /* Add space below the list */
}

.card-content ul li {
  margin-bottom: 10px;
}

.card-content a.btn {
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 60px;
  border: 1px solid #ffffff;
  display: inline-block; /* Ensure the margin works as expected */
}

/* Responsive adjustments */
@media (max-width: 1250px) {
  .nav-menu {
    display: none;
  }

  .nav-toggle {
    display: flex;
  }
  .nav-logo {
    padding-left: 10px; /* Adjust as needed */
  }
  .section-header p {
    line-height: 30px;
  }

  .mobile-menu.active {
    display: flex;
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(100% - 20px);
  }
  .container {
    padding-top: 20%;
  }
  .nav-logo {
    padding-left: 10px; /* Adjust as needed */
  }
}
